<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script type="text/javascript" src="javascripts/mespeak/mespeak.js"></script>
    <title>Left/Right Bot Demo</title>
  </head>
  <body onload = "botSpeak()">
  <div id="welcome">
    <p>Welcome to the Left and Right bot. Please be patient while content queues, in order to provide a more seamless experience. The bot will load when there has been enough content generated to continue.</p>
  </div>
  <div class="parent">
    <div id="leftBot">
      <h1>left bot</h1>
      <div id="leftData"><%= leftData %></div>
    </div>

      <div id="rightBot">
        <h1>right bot</h1>
        <div id="rightData"><%= rightData %></div>
      </div>
  </div>
  <div id="footer">
    <form class="" action="/" method="post">
      <input id="submit" type="submit" name="" value="Advance Conversation">
      <p>Contribute to the conversation:</p>
      <input type="textbox" size="50" height="50" name="userInput" value=""><br>
    </form>
  </div>

  <script type="text/javascript">
    meSpeak.loadVoice('en/en-us');
    console.log(sessionStorage.getItem('hasLoaded'));

    if(sessionStorage.getItem('hasLoaded') == 'true') {
      var loadScreen = document.getElementsByClassName('parent');

      for (var i = 0; i < loadScreen.length; i++) {
        loadScreen[i].style.display = "flex";
      }

      document.getElementById('footer').style.display = "block";
      document.getElementById('welcome').style.display = "none";
    } else {
      setTimeout(function() {
        var loadScreen = document.getElementsByClassName('parent');

        for (var i = 0; i < loadScreen.length; i++) {
          loadScreen[i].style.display = "flex";
        }

        document.getElementById('footer').style.display = "block";
        document.getElementById('welcome').style.display = "none";
        sessionStorage.setItem('hasLoaded', 'true');
        console.log(sessionStorage.getItem('hasLoaded'));
      }, 6000);
    }

    function botSpeak() {
      var leftVoice = document.getElementById('leftData').innerHTML;
      var rightVoice = document.getElementById('rightData').innerHTML;

      if (leftVoice != '') {
        meSpeak.speak(leftVoice);
      } else if (rightVoice != '') {
        meSpeak.speak(rightVoice, { variant: "f1"});
      }
      //
      // console.log("left: " + leftVoice);
      // console.log("right: " + rightVoice);
    }
  </script>
  </body>
</html>
