<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script type="text/javascript" src="javascripts/mespeak/mespeak.js"></script>
    <script type="text/javascript" src="javascripts/jquery-3.5.1.min.js"></script>
    <title>Left/Right Bot Demo</title>
  </head>
  <body onload = "botSpeak()" onkeypress="checkIfSpeaking()">
  <div class="parent">
    <p id="hidden"><%= voice %></p>
    <div id="leftBot">
      <h1>Nick</h1>
      <div id="leftData"><%= leftData %></div>
    </div>

      <div id="rightBot">
        <h1>Kimberly</h1>
        <div id="rightData"><%= rightData %></div>
      </div>
  </div>
  <div id="footer">
    <button id="contribute" type="button" name="button" onclick="inputText()">I want to talk</button>
    <form class="submitForm" action="/" method="post">
      <p>Contribute to the conversation:</p>
      <input id="userInput" type="textbox" size="50" height="50" name="userInput" value=""><br>
      <input id="submit" onclick="on = true;" type="submit" name="submit" value="Submit">
    </form>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">

    var on = true;
    var timer;
    var voices = window.speechSynthesis.getVoices();
    console.log(voices);

    function generateNewText() {
      $.post('/', {
        userInput: '',
      }, function(data, status) {
        document.open();
        document.write(data);
        document.close();
      });
    }

    function botSpeak() {
      var msg;
      console.log("speaking");
      voices = window.speechSynthesis.getVoices();
      var voiceToUse = document.getElementById('hidden').innerHTML;
      var leftPersona = document.getElementById('leftData').innerHTML;
      var rightPersona = document.getElementById('rightData').innerHTML;

      if (voiceToUse == 'leftVoice') {
        msg = new SpeechSynthesisUtterance(leftPersona);
        msg.voice = voices[0];
        window.speechSynthesis.speak(msg);
      } else if (voiceToUse == 'rightVoice') {
        msg = new SpeechSynthesisUtterance(rightPersona);
        msg.voice = voices[40];
        window.speechSynthesis.speak(msg);
      }

      msg.onend = function() {
        if (on == true) {
          generateNewText();
        }
      }
    }

    // var speaking = setTimeout(generateNewText, 7000);

    function inputText() {
      // clearTimeout(speaking);
      // alert("turned off");
      on = false;
      document.getElementsByClassName('submitForm')[0].style.display="block";
      document.getElementById('contribute').style.display = 'none';
    }

    function checkIfSpeaking() {
      if ($("#userInput").is(":focus")) {
        console.log("focused");
      } else {
        botSpeak();
      }
    }

  </script>
  </body>
</html>
