<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script type="text/javascript" src="javascripts/mespeak/mespeak.js"></script>
    <title>Left/Right Bot Demo</title>
  </head>
  <body onload = "botSpeak()">
  <div class="parent">
    <div id="leftBot">
      <h1>left bot</h1>
      <div id="leftData"><%= leftData %></div>
    </div>

      <div id="rightBot">
        <h1>right bot</h1>
        <div id="rightData"><%= rightData %></div>
      </div>
  </div>
  <div id="footer">
    <h1>User Input</h1>
    <form class="" action="/" method="post">
      <input type="textbox" size="50" height="50" name="userInput" value=""><br>
      <input type="submit" name="" value="Next">
    </form>
  </div>

  <script type="text/javascript">
    meSpeak.loadVoice('en/en-us');

    function botSpeak() {
      var leftVoice = document.getElementById('leftData').innerHTML;
      var rightVoice = document.getElementById('rightData').innerHTML;

      if (leftVoice != '') {
        meSpeak.speak(leftVoice);
      } else if (rightVoice != '') {
        meSpeak.speak(rightVoice, { variant: "f1"});
      }
      //
      // console.log("left: " + leftVoice);
      // console.log("right: " + rightVoice);
    }
  </script>
  </body>
</html>
