<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Left/Right Bot Demo</title>
  </head>
  <body>
  <div class="parent">
    <div id="leftBot">
      <h1>left bot</h1>
      <div class="leftData"><%= leftData %></div>
    </div>

      <div id="rightBot">
        <h1>right bot</h1>
        <div class="rightData"><%= rightData %></div>
      </div>
  </div>
  <div id="footer">
    <h1>User Input</h1>
    <form class="" action="/" method="post">
      <input type="textbox" size="50" height="50" name="userInput" value=""><br>
      <input type="submit" name="" value="Next">
    </form>
  </div>

  <script type="text/javascript">
    function testFunction() {
      alert("submitted");
    }
  </script>
  </body>
</html>
