/* @media only screen and (min-width: 641px){
   .parent {
   display: flex;
 }
} */

.parent {
  display:flex;
}

body {
  font-size:24px;
  font-family: 24px Helvetica, Arial, sans-serif;
  margin:0px;
  background-color: black;
  color:rgb(255, 255, 255);
}

a {
  color: #00B7FF;
}

/* #welcome {
  text-align: center;
  width: 80%;
  margin:auto;
  padding-top: 15%;
} */

#leftBot {
  flex: 2;
  background-color:blue;
  color:white;
  display:inline-block;
  margin-right: 0px;
  padding:5%;
}

#rightBot{
  flex:2;
  background-color:red;
  color:white;
  display: inline-block;
  margin-left: 0px;
  padding: 5%;
}

#leftBot, #rightBot {
  height:300px;
}


#footer {
  background-color: rgb(0, 0, 0);
  color:white;
  margin: 0px;
  text-align: center;
  padding: 2.5%;
}

#submit, #contribute, .button {
  background-color: black;
  color:white;
  border-color: gray;
  border-width: 2px;
  border-radius: 8px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  padding:10px;
  margin-top: 10px;
}

.submitForm {
  display:none;
}

#hidden {
  display: none;
}

.scene5text {
  display:none;
}

.button {
  margin-left: 20px;
  margin-top: 20px;
}

#nestedButtons {
  display:none;
  margin-left: 40px;
}

.sendButton {
  padding: 5px;
  display: inline-block;
  vertical-align: top;
}

/*--------------------------------for dialogue page only ------------*/

#dialogue-window-wrapper {
 margin-left:auto;
 margin-right:auto;
 width: 55vw;
 /*background: rgb(156, 160, 156);*/
 background: black;
 height:100vh;
 display: flex;
 flex-direction: column-reverse;
 align-items: stretch;
 justify-content: end;
}
#dialogue-window-status {
 width: 100%;
 height:auto;
}
.connection-status {
  color: white;
  font-family: 24px 'Alegreya', serif;
  line-height: 30px;
  text-align: center;
  /*
  animation-name: fadeInOut;
  animation-duration: 10s;
  opacity: 0;
  */
  margin-top:1vh;
  margin-bottom: 1vh;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.dialogue-window-main {
margin-left:auto;
margin-right:auto;
width:60vw;
background-color: darkblue;
display: flex;
align-items: center;
}


.dialogue-chat-window {
  background-color: black;
  /*
  border-style: dashed;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  */
  margin-left:auto;
  margin-right:auto;

  display: flex;
  flex-direction: column;
  justify-content: end;
}
.leftDia {
  width: auto;
  margin-right:40%;
}
.rightDia {
  width:auto;
  margin-left:40%;
}
.leftDia strong {
  color:lightskyblue;
  display: block;
  text-align: left;
}

.leftDia p {
  display: block;
  float:left;
}
.rightDia strong {
  color:rgb(223, 60, 60);
  display: block;
  text-align: right;
}

.rightDia p {
  display: block;
  float:right;
}


.dialogue-chat-window p {
  font-family: 32px 'Alegreya', serif !important;
  line-height: 32px;
  color:white;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
