/* @media only screen and (min-width: 641px){
   .parent {
   display: flex;
 }
} */

.parent {
  display:flex;
}

body {
  margin:0px;
  background-color: black;
  color:white;
  overflow: hidden;
}

a {
  color: #00B7FF;
}

/* #welcome {
  text-align: center;
  width: 80%;
  margin:auto;
  padding-top: 15%;
} */

#leftBot, #leftDialogue {
  flex: 2;
  color:white;
  display:inline-block;
  margin-right: 0px;
  /* padding-top:3%;
  padding-left: 2.5%; */
  /* height:300px; */
}

#leftBot {
  height:470px;
  background-color:#045bbc;
  padding: 3%;
  font-size: 30px;
}

#leftDialogue {
  height:620px;
  background-color:black;
  padding-top:3%;
  padding-left: 2.5%;
}

#rightBot {
  background-color:#bb2e34;
  padding: 3%;
  font-size: 30px;
}

#rightDialogue {
  background-color:black;
  padding-top:3%;
  padding-left: 2.5%;
}

#rightBot, #rightDialogue {
  flex:2;
  color:white;
  display: inline-block;
  margin-left: 0px;
  /* padding-top: 3%;
  padding-left: 3.5%; */
}

#footer {
  background-color: black;
  color:white;
  margin: 0px;
  text-align: center;
  padding: 2.5%;
}

#submit, #contribute, .button {
  background-color: black;
  color:white;
  border-color: gray;
  border-width: 2px;
  border-radius: 8px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  padding:10px;
  margin-top: 10px;
}

.submitForm {
  display:none;
}

#hidden {
  display: none;
}

.scene5text {
  display:none;
}

.button {
  margin-left: 20px;
  margin-top: 20px;
}

#nestedButtons {
  display:none;
  margin-left: 40px;
}

#leftDia, #leftInput, #rightDia, #rightInput {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}

#leftInput, #rightInput {
  font-family: Courier;
  font-size: 15px;
}

.sendButton {
  padding: 5px;
  display: inline-block;
  vertical-align: top;
  background-color: #999999;
  border-radius: 5px;
}

#leftInput, #rightInput {
  margin-top: 5px;
  display: inline-block;
}

#leftDia {
  color: black;
  background-color: #cde2fb;
  border-style: solid;
  border-color: #045bbc;
  border-style: solid;
  border-width: 5px;
  width: 90%;
  margin-bottom: 10px;
  height: 500px;
  padding:10px;
  overflow-y:auto;
}

#rightDia {
  color: black;
  background-color: #f5d6d7;
  border-style: solid;
  border-color: #bb2e34;
  border-style: solid;
  border-width: 5px;
  width: 90%;
  margin-bottom: 10px;
  height: 500px;
  padding:10px;
  overflow-y:auto;
}

textarea {
  resize: none;
}

.kimName {
  font-weight: 600;
  color: #bb2e34;
}

.nickName {
  font-weight: 600;
  color: #045bbc;
}

.hidden {
  display: none;
}
