/* @media only screen and (min-width: 641px){
   .parent {
   display: flex;
 }
} */

.parent {
  display:flex;
}

body {
  font: 25px Helvetica, Arial, sans-serif;
  margin:0px;
  background-color: purple;
  color:white;
}

a {
  color: #00B7FF;
}

/* #welcome {
  text-align: center;
  width: 80%;
  margin:auto;
  padding-top: 15%;
} */

#leftBot {
  flex: 2;
  background-color:blue;
  color:white;
  display:inline-block;
  margin-right: 0px;
  padding:5%;
  height:300px;
}

#rightBot {
  flex:2;
  background-color:red;
  color:white;
  display: inline-block;
  margin-left: 0px;
  padding: 5%;
}

#footer {
  background-color: purple;
  color:white;
  margin: 0px;
  text-align: center;
  padding: 2.5%;
}

#submit, #contribute, .button {
  background-color: black;
  color:white;
  border-color: gray;
  border-width: 2px;
  border-radius: 8px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  padding:10px;
  margin-top: 10px;
}

.submitForm {
  display:none;
}

#hidden {
  display: none;
}

.scene5text {
  display:none;
}

.button {
  margin-left: 20px;
  margin-top: 20px;
}

#nestedButtons {
  display:none;
  margin-left: 40px;
}
